.show {
	animation: show .3s forwards;
}

@keyframes show {
	from {
		opacity: 0;
		transform: translateX(100px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.dismiss {
	animation: dismiss .3s forwards;
}

@keyframes dismiss {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(100px);
	}
}